{% extends "layout.html" %}

{% comment "License" %}

{% endcomment %}

{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}
    <p class="text-danger">
      Your username and password didn't match.
      Please try again.
    </p>
  {% endif %}
  <br>
  <form action="{% url 'login' %}" method="post" class="form" role="form">
    {% csrf_token %}
    <div style="width: 300px;">
      <div class="form-group">
        <label class="control-label" for="username">Utilisateur</label>
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="utilisateur">
      </div>
      <div class="form-group">
        <label class="control-label" for="password">Mot de passe</label>
        <input id="id_password" name="password" type="password" class="form-control" placeholder="mot de passe">
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="Log-in" class="btn btn-primary" id="post_login_btn">
    </div>
  </form>
{% endblock %}
