
  {% extends "layout.html" %}
  {% load staticfiles %}
  {% load lu %}
  {% block breadcrumb %}
    <li class="active">Liste des livres</li>
  {% endblock %}
  {% block content %}
  <div class="panel panel-default">

    <div class="panel-body">
      <p align="right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'livre-create' %}" title="Pour ajouter un nouveau livre"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        {%endif%}
      </p>
      <form method="get" action="{% url 'livre-search' %}" >
        <div class="row">
          <div class="col-md-3">
            <label class="control-label">Propriétaire</label>
            <select class="form-control"  name="personne_id" >
              <option value="">-</option>
              {% for p in personnes %}
                {%if p.id == personne %}
                <option selected value="{{p.id}}" >{{p.nom}} {{p.prenom}}</option>
                {%else%}
                <option value="{{p.id}}"  >{{p.nom}} {{p.prenom}}</option>
                {%endif%}
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label class="control-label">Auteur</label>
            <select name="auteur_id">
              <option value="">-</option>
              {% for a in auteurs %}
              <option value="{{a.id}}" {%if a.id == auteur.id%} selected {%endif%}>{{a}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-3">
            <label for="titre" class="control-label">Titre</label>
            <input class="form-control" id="titre" value="{{ titre | default_if_none:'' }}" name="titre">
          </div>
          {% if request.user.is_authenticated %}
            <div class="col-md-1">
                <label for="lu" class="control-label">Lu</label><br>
                <select id="lu" name="lu">
                  <option value="">-</option>
                  <option value="lu">Lu</option>
                  <option value="paslu">Pas lu</option>
                </select>
            </div>
          {% else %}
            <div class="col-md-1">
            </div>
          {%endif%}
          <div class="col-md-1">
            <input type="submit" value="OK" name="btn">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <span style="color:gray">Les critères de recherche sont exclusifs (càd un seul prit en compte)</span>
          </div>
        </div>
    </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <br>
        <table id="list_livre" class="table">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Auteur(s)</th>
                <th>Langue</th>
                {% if request.user.is_authenticated %}
                <th>Lu</th>
                {% endif %}
                <th></th>
              </tr>
            </thead>
          <tbody>
        {% for livre in livres %}
            {%lu as etat_lecture%}
            <tr style="color:{% if etat_lecture %}{%else%}orange{%endif%}">
                <td><a href="{% url 'livre' livre.pk%}"
                       title="Pour modifier un livre">{{ livre.titre | default_if_none:'' }}</a></td>
                <td>{{ livre.auteurs_livres_str }}</td>
                <td>{{ livre.langue | default_if_none:'' }}</td>
                {% if request.user.is_authenticated %}
                <td>
                  {% if etat_lecture %}
                  LU
                  {%endif%}
                </td>
                {% endif %}
                <td>
                    {% if request.user.is_authenticated %}<a href="{% url 'livre-delete' livre.pk %}"
                                                             title="Pour supprimer un livre"><span class="glyphicon glyphicon-trash"
                                                                                                   aria-hidden="true"></span></a>{%endif%}
                </td>
            </tr>
        {% endfor%}
          </tbody>
        </table>

      </div>
    </div>

  {% endblock %}

