{% extends "layout.html" %}
{% load staticfiles %}
{% block breadcrumb %}
  <li><a href="{% url 'livre_list' %}">Livres</a></li>
  <li class="active">Livre</li>
{% endblock %}
{% block content %}
<script>
$("[name='checkbox1']").bootstrapSwitch();
</script>
<div class="panel panel-default">
  <div class="panel-body">
    <form  method="post" action="{% url 'livre-update' %}">
      {% csrf_token %}
      <input type="hidden" value="modify" name="action"/>
      <input type="hidden" value="{{ livre.id }}" name="id"/>
      <div class="row">
        <div class="col-md-6">
        <label for="nom">Titre</label>
        <input class="form-control" id="titre" value="{{ livre.titre| default_if_none:'' }}" name="titre">
        </div>
        <div class="col-md-3">
          <label for="langue" class="control-label">Langue</label>
          <select class="form-control" name="langue">
              {% if livre.langue == 'FR' %}
                <option selected value="FR">Français</option>
              {% else %}
                <option value="FR">Français</option>
              {% endif %}
              {% if livre.langue == 'ENG' %}
                <option selected value="ENG">Anglais</option>
              {% else %}
                <option value="ENG">Anglais</option>
              {% endif %}
            </select>
        </div>
        <div class="col-md-3">
          <label for="lu" class="control-label">Lu/pas lu</label>
          {% if lecture %}
          <input type="checkbox"id="lu"  name="lu" checked/>
          {%else%}
          <input type="checkbox" id="lu" name="lu"/>
          {%endif%}
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-12">
            <br>
            <p align="right"><input type="submit" title="Enregistrer les infos propres à un livre" value="Enregistrer"></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
        <label for="auteurs">Auteur(s)</label>
        {% if livre.auteurs_livres  %}
          <table class="table table-striped table-hover">
            <thead>
              <td>Nom</td>
              <td>Prénom</td>
              <td></td>
            </thead>
            {% for auteur_livre in livre.auteurs_livres %}
            <tr>
              <td>{{ auteur_livre.auteur.nom }}</td>
              <td>{{ auteur_livre.auteur.prenom }}</td>
              <td><a href="{% url 'delete-auteur-livre' auteur_livre.id %}" title="Pour supprimer l'auteur du  livre"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
          {% endfor%}
          </table>
        {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p align="right">
            <a href="{% url 'add-auteur-to-livre' livre.id %}" title="Ajouter un auteur"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </p>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <label>Propriétaire(s)</label>
        </div>
      </div>
      {%if livre.proprietaires|length > 0 %}
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-hover">
              <thead>
                  <th>Nom</th>
                  <th></th>
              </thead>
              {% for p in livre.proprietaires %}
                  <tr>
                      <td>{{ p.personne | default_if_none:'' }}</td>
                      <td><a href="{% url 'proprietaire-remove-from-livre' p.id %}" title="Pour supprimer un propriétaire d'un livre"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                  </tr>
              {% endfor%}
          </table>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <p align="right">
            <a href="{% url 'proprietaire-add-to-livre' livre.id %}" title="Pour ajouter un nouveau propriétaire au livre"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
